<head>
  <link href="https://gmpg.org/xfn/11" rel="profile" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <!-- Enable responsiveness on mobile devices-->
  <meta
    charset="utf-8"
    name="viewport"
    content="width=device-width, initial-scale=1.0" />

  <title>
    {% if page.title == "Home" %} {{ site.title }} {% else %} {{ page.title }} &middot; {{
    site.title }} {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />

  <!-- Icons -->
  {% include favicons.html %}

  <!-- RSS -->
  <link
    rel="alternate"
    type="application/rss+xml"
    title="RSS"
    href="{{ site.feed.path | default: 'feed.xml' | relative_url }}" />

  {% include mathjax.html %}
</head>
