---
---

$sidebar-bg-color: #ab9764 !default;
$sidebar-fg-color: #3a4507 !default;

@import "hydeout.scss";

body.index h2.post-title {
  font-size: 1.2rem;
}

#sidebar {
  a#github-download-link {
    display: none;
  }

  p.lead {
    font-size: 1rem;
  }

  img.logo {
    display: none;
  }

  @media (min-width: $large-breakpoint) {
    img.logo {
      display: block;
    }
  }
}

ul,
ol,
dl {
  margin-left: 1rem;
}

// Make entire container background white to contrast against sidebar
.container {
  background: $body-bg;
  color: $body-color;
  min-height: 100vh;
  padding: 2rem;

  > .content {
    padding: 0;
    margin: 0;
  }

  > header {
    color: $heading-color;
    margin: 0;
    padding: 0;
  }
}

.container > header h1:last-child,
.container > header h2:last-child {
  margin-bottom: 0.5rem;
}
